packages:
  yum:
    git: []
    MySQL-python: []
    gcc: []
    libffi-devel: []
    openssl-devel: []
    mysql-devel: []
  python:
    pymysql: []
    cffi: []
    cryptography: []
    gunicorn: []
    mysqlclient: []
    PyMySQL: []
    redis: []
    greenlet: []
    cachelib: []
    flask-restx: []
    Flask-Caching: []
    Werkzeug: []
    blinker: []
    aniso8601: []
    async-timeout: []
    attrs: []
    click: []
    colorama: []
    importlib_resources: []
    itsdangerous: []
    Jinja2: []
    jsonschema: []
    jsonschema-specifications: []
    MarkupSafe: []
    pycparser: []
    pytz: []
    referencing: []
    rpds-py: []
    SQLAlchemy: []
    typing_extensions: []
