option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: wsgi.py
    NumProcesses: 1
    NumThreads: 15
  aws:elasticbeanstalk:application:environment:
    RDS_HOSTNAME: 'PLACEHOLDER_RDS_HOSTNAME'
    RDS_PORT: '3306'
    RDS_DB_NAME: 'PLACEHOLDER_DB_NAME'
    RDS_USERNAME: 'PLACEHOLDER_DB_USERNAME'
    RDS_PASSWORD: 'PLACEHOLDER_DB_PASSWORD'
    DATABASE_URL: 'PLACEHOLDER_DATABASE_URL'